<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Page title set in pageTitle directive -->
    <title >{{title}}</title>
    <!-- CSS -->
    <link rel="stylesheet" href="style/leaflet.css" />
    <link rel="stylesheet" href="style/L.Control.Locate.min.css" />
   
    <link rel="stylesheet" href="style/style.css">
</head>

<!-- ControllerAs syntax -->
<!-- Main controller with serveral data used in Inspinia theme on diferent view -->
<body>

<!-- Main view  -->
<div ui-view></div>
<section>
	{% block content %}{% endblock %}
</section>

<!-- Anglar App Script -->
<script src="vendors/leaflet.js"></script>
<script src="vendors/L.Control.Locate.min.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script src="bundle.js"></script>


</body>
</html>